.form {
    background-color: var(--cor-1);
    padding: 100px; 
}

.contato-texto {
    padding-top: 10px;
    width: 48ch;
}

.contato-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    font: 400 1rem/1.5 "Poppins", sans-serif;
    padding: 15px;
    background-color: #eee;
    border: 1px solid var(--cor-p6);
    margin-bottom: 30px;
    border-radius: 20px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-1);
    box-shadow: 0 0 0 2px #aae0ff;
}

.form .botao {
    width: 250px;
    margin: 0 auto;
}

.contato-info {
    padding-left: 200px;
}

.contato-info h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.info-subtitulo {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 30px;
}

.contato-redes {
    display: flex;
    gap: 40px;
    padding-top: 60px;
}

.contato-redes img {
    width: 40px;
    height: 40px;
    transition: .3s;
}

.contato-redes img:hover {
    scale: 1.5;
}

@media (max-width: 900px) {
    .contato-conteudo {
        grid-template-columns: 1fr;
    }

    .contato-info {
        padding-left: 0;
    }

    .contato-texto {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .form {
        padding: 50px;
    }
}